/* General Styling */
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
.left-side-container {
  min-height: 515px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.right-side-container {
  min-height: 515px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.left-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

/* dd, [15-Jul-23 15:18] */
.right-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}
.title-wraper {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.15em;
  letter-spacing: -0.04em;
  /* text-align: left; */
}

.right-side-wrapper .title-wraper {
  max-width: 280px;
  margin: 0 auto;
}

/* Fourth section */
.home-heghlight-wrapper .left-side-container {
  /* background-image: url("../../images/homepage/banner2LL2.jpg"); */
  background-color: #000;
  padding-top: 35px;
  margin: 100px 20px;
  background-size: cover;
}
.home-heghlight-wrapper .right-side-wrapper .right-side-container {
  background-color: white;
  background-position: bottom;
  padding-top: 35px;
  padding: 20px;
  margin: 0 0 10px 0;
  background-size: auto;
}

.home2-heghlight-wrapper .left-side-wrapper .left-side-container {
  background-color: white;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: cover;
}
.home2-heghlight-wrapper .right-side-wrapper .right-side-container {
  background-image: url("../../images/homepage/culture.jpg");
  background-color: #165ca9;
  background-position: bottom;
  padding-top: 50px;
  margin: 70px 50px 70px 70px;
  background-size: cover;
}

.home-heghlight-wrapper .right-side-wrapper .title-wraper {
  max-width: 380px;
}

.home-heghlight-wrapper .right-side-wrapper .right-side-container {
  margin: 10px 10px 5px 5px;
}
.title-wraper.bold {
  font-size: 56px;
}
.Mission {
  color: rgb(18, 68, 119);
  margin: 20px 10px;
  font-weight: bold;
  padding-top: 100px;
}
.Vission {
  color: rgb(18, 68, 119);
  margin-left: 10px;
  font-weight: bold;
  padding-top: 20px;
}
.Objectve {
  color: rgb(18, 68, 119);
  margin-left: 50px;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
}
.background {
  margin-left: 10px;
  text-align: justify;
  margin-bottom: 10px;
  font-size: 20px;
}

.home2-heghlight-wrapper left-side-container {
  margin-left: 200px;
}

/* for read more */
.container-fluid {
  text-align: justify;
  text-rendering: optimizeLegibility;
  word-spacing: -1px;
}

.text {
  display: inline;
  width: 100%;
}

.read-or-hide {
  color: rgb(20, 8, 121);
  cursor: pointer;
  font-weight: bold;
  
}
.pback {
  text-align: left;
  margin: 5px 20px;
  /* font-size: xx-large; */
  font-style: normal;
  font-size: 20px;
  font-family: "Raleway";
}
.pbacko {
  text-align: left;
  font-style: normal;
  font-family: "Raleway";
  margin: 20px 30px;
  font-size: 20px;
}
.heloocurve {
  font-weight: 700;
  animation: animate 6s linear infinite;
  color: #01fe87;
  -webkit-text-stroke: 0vw #383d52;
  overflow: hidden;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.vertical-row {
  float: left;
  height: 280px;
  width: 1px; /* edit this if you want */
  background-color: #06224b;
  margin-top: 150px;
 
}
/* "document.getElementById('chartdiv').style.height = 200px" */
.vertical-row2 {
  float: left;
  height: 90px;
  width: 1px;
  background-color: #06224b;
  margin: 70px 50px 50px 70px;
}
.vertical-row3 {
  float: right;
  height: 90px;
  width: 1px;
  background-color: #06224b;
  margin: 70px 100px 30px 100px;
}
.flexx {
  display: flex;
}

.vertical-mission {
  float: right;
  height: 180px;
  width: 1px; /* edit this if you want */
  /* background-color: #008000; */
  background-color: #06224b;
  margin: 140px -10px 10px 10px;
}
.vertical-vission {
  float: right;
  height: 110px;
  width: 1px; /* edit this if you want */
  /* background-color: #008000; */
  background-color: #06224b;
  margin: 70px 0 10px 10px;
}
@media (max-width: 768px) {
  .heloocurve {
    text-align: justify;
    margin-left: -100px;
  }
  .container-fluid {
    text-align: justify;
    text-rendering: optimizeLegibility;
    word-spacing: normal;
  }
  .background {
    margin-left: -40px;
    text-align: justify;
    margin: 10px 10px;
    font-size: 20px;
  }
  .vertical-row2 {
    display: none;
  }
  .vertical-row3 {
    display: none;
  }
  .vertical-row {
    display: none;
  }
  .vertical-vission {
    display: none;
  }

  .home-heghlight-wrapper .left-side-container {
    /* background-image: url("../../images/homepage/banner2LL2.jpg"); */
    background-color: #000;
    padding-top: 35px;
    margin: 10px -40px;
    background-size: cover;
  }

  .home2-heghlight-wrapper .right-side-wrapper .right-side-container {
    background-image: url("../../images/homepage/culture.jpg");
    background-color: #165ca9;
    background-position: bottom;
    padding-top: 35px;
    margin: 30px 10px;
    background-size: cover;
  }

  .pbacko {
    text-align: justify;
    margin: 10px 30px;
    /* font-size: xx-large; */
    font-style: normal;
    font-family: "Raleway";
  }

  .vertical-mission {
    display: none;
  }
}

@media (min-width: 768px) {
  .heloocurve {
    text-align: justify;
    margin-left: 80px;
  }

  .pbacko {
    text-align: left;
    margin: 10px 0px;
    font-style: normal;
    font-family: "Raleway";
  }
}
