.banner-aboutUs {
  background-image: url("../../images/Management/AboutUs-banner.jpg");
  background-position: center;
  background-size: cover;
  height: 40vh;
  margin-top: 5px;
}

.txt {
  text-align: justify;
  word-spacing: -1px;
  min-height: 300px;
  max-width: 700px;
  font-family: "Raleway";
  font-weight: 350;
  font-size: 22px;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 75px;
}
.txt h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.border_1 {
  background-color: #0a316b;
  width: 1.5px;
  margin: 0px 25px 0px 0px;
}
.continer {
  display: flex;
  /* justify-content:  space-between; */
  margin-top: 20px;
  margin-bottom: 50px;
}
.image {
  background-image: url(../../images/Management/School_managament1.png);
  background-repeat: no-repeat;
  width: 650px;
  height: 470px;
}
.border_2 {
  background-color: #0a316b;
  width: 2px;
  margin: 20px 25px 0px 0px;
  height: 490px;
}

.students {
  background-image: url(../../images/Management/School\ management_4.png);
  background-repeat: no-repeat;
  width: 615px;
  height: 490px;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
@media (max-width: 768px) {
    .banner-aboutUs{
        height: 30vh;
    }
  .manag {
    display: none;
  }
  .continer {
    display: inline;
    margin-left: 30px;
  }
  .txt {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Raleway";
    font-size: 20px;
  }
  .image {
    width: 580px;
    height: 470px;
    /* margin-left: 30px;
    margin-right: 30px; */
    margin-inline: auto;
    margin-top: 35px;
    margin-bottom: 0px;
  }
  .students {
    display: none;
  }
  .school_manag {
    background-image: url(../../images/Management/School\ management_4.png);
    background-repeat: no-repeat;
    width: 610px;
    height: 490px;
    /* margin-left: 30px;
    margin-right: 30px; */
    margin-inline: auto;
    margin-top: 55px;
  }
  .border_2 {
    display: none;
  }
}
