@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway'


}

.banner-achievement {
    width: 100%!important;
    background-image: url('../../images/Achievements_images/Achievement-banner.jpg');
    background-position: center;
    background-size: cover;
    height: 40vh;
    margin-top: 5px;
}
body section{
    margin-right: 50px;
    margin-left: 50px;
}
.Final-pic {
    display: flex;
    /* margin-top:40px; */
    

}
.Final-pic img{
    width: 100%;
    /* margin: 0px 4px; */
}




.Heading{
    /* margin-left: 50px; */
    display: none;
    padding-top: 20px;

    /* display: flex;x */
    /* justify-content: center; 
    
    width: 100%;  */
}

.Heading h1 {
    color: #06224b;
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    font-weight: 500;
    font-size: 69px;
    /* line-height: 76px; */
    text-align: center;
    text-transform: uppercase;
}


.Gown-Pic-Section {
    /* position: relative; Set the parent to relative positioning */
    display: flex;
    margin-top: 40px;
    margin-bottom: 120px;
}
.Gown-Pic-Section :first-child {
    margin-right: 14px;
}
.Gown-Pic-Section img {
    width: 49%;
    margin: 0px 0px;
    z-index: 1; /* Set a higher z-index value to keep the images on top */
}


.Congratulations {
    margin-top: 90px;
    display: flex;
    font-size: 22px;
    font-family: 'Raleway';

}

/* Icons/Thumbnails */

.Thumbnails {
    /* display: flex;  */
    margin-top: 60px;
    /* padding:80px 60px 40px 150px; */
}
.Thumbnails div div {
    display: flex;
    justify-content: center;
    width: 300px;
}
.Thumbnails div div div{
    display: block;
    height: min-content;
    justify-content: center;
    width: 150px;
    text-align: center;
    font-size: 18px;
}

.Thumbnails div div p {
    padding-top: 15px;
    width:150px
}
.Thumbnails div div img {
    
    /* justify-self: center; */
    height: 150px;
    
}
.Thumbnails div  {
    display: flex;
    justify-content: center;
}
.Vertical-Line {
    background-color: #06224b;
    width: 5px;
    margin: 0px 25px;

}
#VLtop{
    margin-left: 0px
}
.Congratulations div p {
    margin-top: 30px;
    width: 85%;
    margin-bottom: 50px;

}
.Congratulations div {
    padding: 20px 0px;
    border:40px;
    border-color: #06224b;
    border-width: 5px;
}


.Girls-for-free {
    margin-top: 100px;
    height: 365px;
    display: flex;
    font-size: 22px;
    
}
.Girls-for-free p {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Building {
    margin-top: 120px;
    height: 365px;
    display: flex;
    font-size: 22px;
    
}
.Building p {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding: 1% 3%;
}

.VLbottom{
    background-color: #06224b;
    width: 3.5px;
    margin: 0px 25px;
    
    
    
}




@media (max-width: 768px){

    .Heading h1 {
        font-size: 50px;
    }
    .Final-pic #A2 {
        display: none;
    }
    .Final-pic img {
        width: 100%;
    }
    .Thumbnails div div img {
        height: 100px;
    }    
    .Gown-Pic-Section{
        display: block;

    }
    .Gown-Pic-Section img {
        width: 100%;
        margin-bottom: 35px;
    }
    
    .Thumbnails p{
       display: none;
    }
    .Thumbnails div div {
        width:  auto;
        padding-bottom: 20px;
    }
    .Thumbnails div div :last-child{
        margin-bottom: 0px;
        padding-bottom: 0px;

    }
    /* .Thumbnails div div div {
        width: 180px;
    }
    .Thumbnails div div p {
        width: 180px;
    }
    .Thumbnails div div img {
        height: 180px;
    } */
    .Girls-for-free {
        display: block;
    }
    .Vertical-Line {
        display: none;
    }
    .Building {
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
    }
    .Building img {
        /* margin-bottom: 100px; */
        order: 2;
        height: 280px;
        /* margin: auto; */
        align-self: center;
    }
    .Building p {
        padding: 0px;
        order: 1;
    }
    .Girls-for-free {
        margin-top: 70px;
    }
    .Girls-for-free img {
        margin: auto;
        padding: auto;
    }
   
    
    .Girls-for-free p, .Congratulations div p, .Building p {
        font-size: 20px;
    }



}

@media (max-width:300px){
    .Congratulations p{
        font-size: 90%;
    }
    .Congratulations h2 {
        font-size: 70%
    }
}




/* 
footer div {

    background: #008000;
    width: 100%;
    height: 149px;
.Gown-Pic-Section {
    display: flex;
    margin-top:40px;

}
.Gown-Pic-Section img {
    width: 49%;
    margin: 0px 4px;
}
} */

/* Rectangle 5 */

/* transform: matrix(1, 0, 0, -1, 0, 0); */
/* Rectangle 8 */


