@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway'


}
/* body section{
    margin-right: 50px;
    margin-left: 50px;
} */

.Final-pic {
    display: flex;
    margin-top:40px;
    

}
.Final-pic img{
    width: 49%;
    margin: 0px 4px;
}





.banner-achievement{
    /* margin-left: 50px; */
    /* padding-top: 20px; */
background-image: url('../../images/Achievements_images/Achievement-banner.jpg');
background-position: center;
background-size: cover;
height: 40vh;
    /* display: flex;x */
    /* justify-content: center; 
    
    width: 100%;  */
}




.Gown-Pic-Section {
    /* position: relative; Set the parent to relative positioning */
    display: flex;
    margin-top: 40px;
}

.Gown-Pic-Section img {
    width: 49%;
    margin: 0px 4px;
    z-index: 1; /* Set a higher z-index value to keep the images on top */
}


.Congratulations {
    margin-top: 90px;
    display: flex;
    font-size: 150%;
    font-family: 'Raleway';

}

/* Icons/Thumbnails */

.Thumbnails {
    /* display: flex;  */
    margin-top: 60px;
    /* padding:80px 60px 40px 150px; */
}
.Thumbnails div div {
    display: flex;
    justify-content: center;
    width: 300px;
}
.Thumbnails div div div{
    display: inline;
    justify-content: center;
    width: 150px;
    text-align: center;
    font-size: 18px;
}

.Thumbnails div div p {
    width:150px
}
.Thumbnails div div img {
    
    /* justify-self: center; */
    height: 150px;
    
}
.Thumbnails div  {
    display: flex;
    justify-content: center;
}
.Vertical-Line {
    background-color: #06224b;
    width: 5px;
    margin: 0px 25px;

}
.Congratulations div p {
    margin-top: 30px;
    width: 85%;
    margin-bottom: 50px;

}
.Congratulations div {
    padding: 20px 0px;
    border:40px;
    border-color: #06224b;
    border-width: 5px;
}


.Girls-for-free {
    margin-top: 120px;
    height: 315px;
    display: flex;
    font-size: 150%;
    
}
.Girls-for-free p {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Building {
    margin-top: 120px;
    height: 365px;
    display: flex;
    font-size: 150%;
    
}
.Building p {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding: 10px 80px;
}
.Vertical-Line-Bottom {
    background-color: #06224b;
    width: 3px;
    margin: 0px 25px;
}


@media (max-width: 768px){

    .banner-achievement{
        height: 30vh;
    }

    .Heading h1 {
        font-size: 50px;
    }
    .Final-pic #A2 {
        display: none;
    }
    .Final-pic img {
        width: 100%;
    }
    .Gown-Pic-Section #G1 {
        display:  none;
    }
    .Gown-Pic-Section img {
        width: 100%;
    }
    .Thumbnails div {
        display: block;
    }

    .Thumbnails div div {
        width:  auto;
        padding-bottom: 20px;
    }
    .Thumbnails div div div {
        width: 180px;
    }
    .Thumbnails div div p {
        width: 180px;
    }
    .Thumbnails div div img {
        height: 180px;
    }
    .Girls-for-free {
        display: block;
    }
    .Vertical-Line {
        display: none;
    }
    .Building {
        display: block;
    }
    .Building img {
        height: 280px;
        margin: auto;
        align-self: center;
    }

    
    .Girls-for-free p, .Congratulations div p, .Building p {
        font-size: 20px;
    }

}




/* 
footer div {

    background: #008000;
    width: 100%;
    height: 149px;
.Gown-Pic-Section {
    display: flex;
    margin-top:40px;

}
.Gown-Pic-Section img {
    width: 49%;
    margin: 0px 4px;
}
} */

/* Rectangle 5 */

/* transform: matrix(1, 0, 0, -1, 0, 0); */
/* Rectangle 8 */


