@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway'


}
body section{
    margin-right: 50px;
    margin-left: 50px;
}
.green-rect{
    background: #008000;
    width: 100%;
    height: 49px;
}
.Heading{
    margin-left: 50px;

    /* display: flex;x */
    /* justify-content: center; */
    /* width: 100%;  */
}

.Heading h1 {
    color: #008000;
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    font-weight: 500;
    font-size: 69px;
    line-height: 76px;
    text-align: center;
    text-transform: uppercase;
}


.Gown-Pic-Section {
    display: flex;
    margin-top:40px;

}
.Gown-Pic-Section img {
    width: 49%;
    margin: 0px 4px;
}

.Congratulations {
    margin-top: 90px;
    display: flex;
    font-size: 150%;
    font-family: 'Raleway';

}



.Thumbnails {
    /* display: flex;  */
    margin-top: 60px;
    padding:80px 60px 40px 150px;
}
.Thumbnails div div {
    display: inline;
    justify-content: center;
    width: 300px;
    text-align: center;
    font-size: 18px;
}

.Thumbnails div div p {
    width:150px
}
.Thumbnails div div img {
    
    /* justify-self: center; */
    height: 150px;
    
}
.Thumbnails div  {
    display: flex;
    justify-content: center;
}
.Vertical-Line {
    background-color: #008000;
    width: 5px;
    margin: 0px 25px 0px 0px;

}
.Congratulations div p {
    margin-top: 30px;
    width: 85%;
    margin-bottom: 50px;

}
.Congratulations div {
    padding: 20px 0px;
}


.Girls-for-free {
    margin-top: 120px;
    height: 315px;
    display: flex;
    font-size: 150%;
    
}
.Girls-for-free p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Girls-for-free p span {
    color: #008000;
}

.Building {
    margin-top: 120px;
    height: 365px;
    display: flex;
    font-size: 150%;
    
}
.Building p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 80px;
}

.Final-pic {
    margin-top: 30px;
    margin-bottom: 0px;
}
.Final-pic img{
    margin-bottom: 0px;
    width: 100%;
}

footer div {
    background: #008000;
    width: 100%;
    height: 149px;

}



