header{
    min-height: 70px;
    background-color: green;
    color: white;
}
.nav-link{
    position: fixed;
    top:95px ;
    right: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    left: -100%;
    background-color: green;
}


.nav-link.show{
    left: 0;
}

.bar{
    display: block;
    margin: 5px auto;
    width: 25px;
    height: 3px;
    background-color: white;
}

.nav-bar{
    margin-right: 30px;
}

.nav-bar.change .bar:nth-child(2){
    opacity: 0;
}
.nav-bar.change .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.nav-bar.change .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-item a{
    color: white;
    text-decoration: none;
}
@media(min-width: 768px){
    .nav-bar{
        display: none;
    }
    .nav-link{
        position: static;
        margin:0 20px 0 30px;
        width: auto;
        display: flex;
        gap: 60px;
    }
    .nav-item{
        /* border-radius: 6px;
        border-width: 2px; */
        padding: 8px;
    }
}