
.banner-gallery{
        background-image: url("../../images/Gallery/Gallery-banner.jpg");
        background-position: center;
        background-size: cover;
        height: 40vh;
        margin-top: 5px;
        margin-bottom: 20px;
      }
.one{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 10px;
}
.class{
   
    background-image: url( ../../images/Gallery/pic-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 390px;
    margin-left: 10px;     
}

.kghs{
    background-image: url(../../images/Gallery/pic-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 390px;
    margin-left: 10px;
}
.cdh_2023{
    background-image: url(../../images/Gallery/pic-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 390px;
    margin-left: 10px;
}

.lemlemms{
    background-image: url(../../images/Gallery/pic-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 390px;
    margin-left: 10px;

}

.kglem{
     background-image: url(../../images/Gallery/pic-5.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 390px;
    margin-left: 10px; 

}


.lemacal{
    background-image: url(../../images/Gallery/pic-6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 370px;
    margin-left: 10px; 

}
.lemahabesha{
    background-image: url(../../images/Gallery/pic-7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 370px;
    margin-left: 10px; 

}
.lemahabe{
    background-image: url(../../images/Gallery/pic-8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 370px;
    margin-left: 10px; 
 
}


.lemachi{
    background-image: url(../../images/Gallery/pic-9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 390px;
    margin-left: 10px;

}
.lemacha{
    background-image: url(../../images/Gallery/pic-10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 390px;
    margin-left: 10px;
  
}
.kggallery{
    background-image: url(../../images/Gallery/pic-11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 390px;
    margin-left: 10px;   
}
.lemlem_sport{
    background-image: url(../../images/Gallery/pic-12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 390px;
    margin-left: 10px;   
}
.culture{
    background-image: url(../../images/Gallery/pic-13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 390px;
    margin-left: 10px;  
}
.culture_01{
    background-image: url(../../images/Gallery/pic-14.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 390px;
    margin-left: 10px; 
}
.lemlemha{
    background-image: url(../../images/Gallery/pic-15.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height:390px;
    margin-left: 10px; 

}

@media (max-width: 550px) {
    .lemcogalar{
        margin-left: 20px;
        margin-right: 10px;
      
    }
    .banner-gallery{
        height: 30vh;
    }
    .one{
        margin-top: 0;
        display:block;
    }
    .one img{
        margin-bottom: 10px;
        margin-inline: auto;
    }
    .lemlemha{
    display: none;
    }
    
    .lemlemms{
        width: 100%;
        height: 390px;
    
    }
    .kglem{
        width: 100%;
        height: 390px;
    }
    .lemkg_1{
      display: none;
    }
    .culture{
        display: none;
    }
  }