
/* General Styling */
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  /* max-width: 100%; */
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}

.left-side-container {
  min-height: 515px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.right-side-container {
  min-height: 515px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.left-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

/* dd, [15-Jul-23 15:18] */
.right-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}
.links-wrapper ul {
  list-style: none;
}

.brief-description {
  font-size: 2em;
}

.description-wraper.white {
  color: white;
}
.links-wrapper {
  padding: 15px 0;
}
.links-wrapper ul li {
  display: inline-block;
  padding-right: 20px;
}
.links-wrapper ul li a {
  color: #06c;
  text-decoration: none;
  font-size: 21px;
}
.links-wrapper ul li a:hover {
  color: #000;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}
.title-wraper {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.15em;
  letter-spacing: -0.04em;
  /* text-align: left; */
}
.title-wraper.bold {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.15em;
  letter-spacing: -0.04em;
}
.right-side-wrapper .title-wraper {
  max-width: 280px;
  margin: 0 auto;
}
.description-wrapper {
  font-size: 26px;
  padding: 10px 0;
}

/* Fourth section */
.fourth-heghlight-wrapper .left-side-container {
  background-image: url("../images/banner2LL2.jpg");
  background-color: #000;
  padding-top: 35px;
  margin: 50px 70px;
  background-size: cover;
}
.fourth-heghlight-wrapper .right-side-wrapper .right-side-container {
  background-color: white;
  background-position: bottom;
  padding-top: 35px;
  padding: 20px;
  margin: 0 0 10px 0;
  background-size: auto;
}

.Fifth-heghlight-wrapper .left-side-wrapper .left-side-container {
  background-color: white;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: cover;
}
.Fifth-heghlight-wrapper .right-side-wrapper .right-side-container {
  background-image: url("../images/culture.jpg");
  background-color: #165ca9;
  background-position: bottom;
  padding-top: 35px;
  margin: 100px 90px;
  background-size: auto;
}

.links-wrapper.white li a {
  color: black;
}
.fourth-heghlight-wrapper .right-side-wrapper .title-wraper {
  max-width: 380px;
}

/*Media Query*/

/*fourth section*/
/* .fourth-heghlight-wrapper .left-side-wrapper .left-side-container {
  margin: 10px 5px 5px 10px;
} */
.fourth-heghlight-wrapper .right-side-wrapper .right-side-container {
  margin: 10px 10px 5px 5px;
}
.title-wraper.bold {
  font-size: 56px;
}
.Mission {
  color: rgb(17, 82, 146);
  margin-left: 5px 20px;
  font-weight: bold;
}
.Vission {
  color: rgb(18, 77, 136);
  margin-left: 20px;
  font-weight: bold;
}
.Objectve {
  color: rgb(18, 68, 119);
  margin-left: 20px;
  font-weight: bold;
}
.background {
  margin-left: 10px;
  text-align:justify;
  margin-bottom: 10px;
}

.Fifth-heghlight-wrapper left-side-container {
  margin-left: 200px;
}

/* for read more */
.container-fluid {
  text-align: justify;
}

.text {
  display: inline;
  width: 100%;
}

.read-or-hide {
  color: rgb(20, 8, 121);
  cursor: pointer;
  font-weight: bold;
}
.pback {
  text-align: justify;
  margin: 5px 20;
  font-size:xx-large;
  font-style:normal;
}
.heloocurve {
  font-weight: 800;
  /* font-style:; */
  /* color: red; */
}
@media (max-width: 768px) {
  .heloocurve {

    text-align: justify;
    margin-left: -100px;
  }
}

@media (min-width: 992px) {
.heloocurve {

    text-align: justify;
    margin-left: 80px;
  }
}

